.disabled {
    /*Disabled link style*/
    color: black;
    pointer-events: none;
    cursor: default;
}

.name {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 20px;
    font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 60px;
    text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.15);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.scrollContainer {
    position: relative;
    height: auto;
    min-height: 300px;
    max-height: 600px;
    width: 100%;
}

.innerScroll {
    position: absolute;
    overflow-y: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
}

.machine-col {
    white-space: nowrap;
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis
}

.path-col {
    white-space: nowrap;
    width: 370px;
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis
}

.name-col {
    white-space: nowrap;
    width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis
}

.ng-scope {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fafafa;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
}

.footer {
    width: 100%;
    padding-top: 20px;
    background-color: #f5f5f5;
}