<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="lan,search,windows shared files,local area network,intranet" name="keywords">
    <meta content="Local Area Network Search Engine.
    Great for searching files shared by your coworkers." name="description">
    <title>LAN Search</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class='container'>
<header id="header">
    <h1 class="logo">
        <i class="icon glyphicon glyphicon-search"></i>
        <a href="/">LAN Search</a>
    </h1>
</header>

<form action="/search" method="get">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Normal Search<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#">Normal Search</a></li>
                        <li><a href="#">Wildcard Search</a></li>
                        <li><a href="#">Regex Search</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control searchbox" name="q"
                       placeholder="Search" value="{{ query_text }}">
                <!-- /btn-group -->
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <!--input type="submit" class="btn btn-default searchbutton"-->
</form>

{% block content %}
{% endblock %}

<footer>
    <hr>
    <div class="col-lg-12 col-sm-12 col-12 row" id="copy">
        <span class="col-md-3"></span>
        <span class="col-md-2">© 2014 Ralph Wen</span>
        <span class="col-md-2"><a href="https://github.com/yadongwen">Github</a></span>
        <span class="col-md-2"><a href="mailto:yawen@microstrategy.com">Contact</a></span>
        <span class="col-md-3"></span>
    </div>
</footer>

<script src="/static/javascript/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="/static/javascript/lansearch.js" type="text/javascript"></script>
</body>
</html>