{% extends "base.html" %}

{% block content %}
<div id='content'>
    <div id='results'>
        <div id='row'>
            <p></p>
            <p>Found {{ total_result_count }} results in {{ query_time }} seconds</p>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Machine</th>
                <th>Path</th>
                <th>Name</th>
                <th>Size</th>
                <th>Mtime</th>
            </tr>
            </thead>
            {% for result in results %}
            <tbody>
            <tr>
                <td>{{ result.machine }}</td>
                <td>{{ result.path }}</td>
                <td><a href='{{ result.link }}' target='_blank'>{{ result.name }}</a></td>
                <td>{{ result.size }}</td>
                <td>{{ result.mtime }}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        <div id='paginate'>
            {% for page in pages %}
            <span>
                {% if page == current_page or page == '..' %}
                {{ page }}
                {% else %}
                <a href="/search?q={{ query_text }}&amp;p={{ page }}">{{ page }}</a>
                {% endif %}
            </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}