{% extends "base.html" %}

{% block content %}
<div id='content'>
    <div id='results'>
        <div id='row'>
            <p></p>

            <p>Found {{ total_result_count }} results in {{ query_time }} seconds</p>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Machine</th>
                <th>Path</th>
                <th>Name</th>
                <th>Size</th>
                <th>Mtime</th>
            </tr>
            </thead>
            {% for result in results %}
            <tbody>
            <tr>
                <td>{{ result.machine }}</td>
                <td>{{ result.path }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.size }}</td>
                <td>{{ result.mtime }}</td>
                <td>
                    <button class="copy-button" data-clipboard-text="aaa">Copy Path</button>
                </td>
                <td>
                    <button>Copy Path with File Name</button>
                </td>
            </tr>
            </tbody>
            {% endfor %}

        </table>

        <ul class="pagination">
            {% if current_page == 1 %}
            <li class="disabled">
                <a href="#">&laquo;</a>
            </li>
            {% else %}
            <li>
                <a href="/search?q={{ query_text }}&amp;p={{ current_page-1 }}&amp;t={{ query_type }}">&laquo;</a>
            </li>
            {% endif %}
            {% for page in pages %}
            {% if page == current_page or page == '..' %}
            <li class="disabled">
                <a href="">{{ page }}</a>
            </li>
            {% else %}
            <li>
                <a href="/search?q={{ query_text }}&amp;p={{ page }}&amp;t={{ query_type }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if current_page == pages[-1] %}
            <li class="disabled">
                <a href="#">&raquo;</a>
            </li>
            {% else %}
            <li>
                <a href="/search?q={{ query_text }}&amp;p={{ current_page+1 }}&amp;t={{ query_type }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}