{% extends "base.html" %}

{% block content %}

<div ng-controller="getDomainCtrl">
    <form class="form-inline" role="form">
        <button type="submit" class="btn btn-primary" ng-click="getCurrentDomain()">Get Current Domain</button>
        <div class="form-group">
            <input type="text" class="form-control" id="inputPassword2"
                   placeholder="Domain Name" ng-model="domain">
        </div>
        <div class="form-group">
            <p class="form-control-static">or input domain name</p>
        </div>
    </form>
    <hr>
    <form class="form-inline" role="form">
        <button type="submit" class="btn btn-primary" ng-click="getMachineList()">Get Machine List</button>
    </form>
    <p></p>
    <table class="table">
        <tr>
            <th>Machine Name</th>
            <th>Discovered Time</th>
            <th></th>
        </tr>
        <tr ng-repeat="machine in machineList">
            <td>[[machine.name]]</td>
            <td>[[machine.discovered_time]]</td>
            <td>
                <button type="submit" class="btn btn-xs btn-primary">Get Shared Folders</button>
            </td>
        </tr>
    </table>
    <hr>
</div>

{% endblock %}