<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta content="lan,search,windows shared files,local area network,intranet" name="keywords">
    <meta content="Local Area Network Search Engine.
    Great for searching files shared by your coworkers." name="description">
    <title>LAN Search</title>
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
</head>
<body>
<div class="wrapper container">
    {% block content %}
    {% endblock %}
    <span us-spinner spinner-key="spinner-1"></span>
    <div class="push"></div>
</div>

<div class="footer">
    <div class="col-lg-12 col-sm-12 col-12 row" id="copy">
        <span class="col-md-6"></span>
        <span class="col-md-4">
            <a href="/static/docs/about.html">About</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="bull">&bull;</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/admin">Admin</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="bull">&bull;</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="//github.com/yadongwen/lansearch">GitHub</a>
        </span>
    </div>
</div>

<script src="/static/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/static/bower_components/angular/angular.js" type="text/javascript"></script>
<script src="/static/bower_components/spin.js/spin.js" type="text/javascript"></script>
<script src="/static/bower_components/angular-spinner/angular-spinner.js" type="text/javascript"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/static/bower_components/zeroclipboard/dist/ZeroClipboard.js" type="text/javascript"></script>
<script src="/static/javascript/app.js" type="text/javascript"></script>

</body>
</html>