{% extends "base.html" %}

{% block content %}
<div ng-controller="searchCtrl">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="search-type btn btn-default"
                                id="match" ng-click="search()">Match
                        </button>
                        <button type="button" class="search-type btn btn-default"
                                id="wildcard" ng-click="search()">Wildcard
                        </button>
                        <button type="button" class="search-type btn btn-default"
                                id="regexp" ng-click="search()">Regexp
                        </button>
                    </div>
                    <input type="text" class="form-control" id="search-box" name="q"
                           placeholder="Search" value="[[searchResult.queryText]]"
                           ng-keydown="search()">
                </div>
            </div>
        </div>
    </form>

    <div id='content'>
        <div id='results'>
            <div id='row'>
                <p></p>

                <p>Found [[searchResult.hits.total]] results in [[searchResult.took/1000]] seconds</p>
            </div>
            <table class="table table-hover" result-table>
                <thead>
                <tr>
                    <th>Machine</th>
                    <th>Path</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Mtime</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in searchResult.hits.hits" title="[[result._source.full]]">
                    <td class="machine-col">[[ result._source.machine ]]</td>
                    <td class="path-col">[[ result._source.path ]]</td>
                    <td class="name-col">[[ result._source.name ]]</td>
                    <td>[[ result._source.size ]]</td>
                    <td>[[ result._source.mtime ]]</td>
                    <td>
                        <button type="button" data-clipboard-text="[[ result._source.full ]]"
                                class="copy-button btn btn-default btn-xs">
                            Copy Path with File Name
                        </button>
                        <button type="button" data-clipboard-text="[[ result._source.path ]]"
                                class="copy-button btn btn btn-default btn-xs">
                            Copy Path
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <ul class="pages pagination">
            <li ng-repeat="page in pages" class="[[page.class]]"
                ng-click="search()">[[page.text]]
            </li>
        </ul>
    </div>

</div>
{% endblock %}